.header {
  padding: 0 40px;
  background-color: $white;

  @include media-breakpoint-down(sm) {
    padding: 0 10px;
  }

  &-menu {
    ul {
      list-style: none;
      padding: 0;
      margin-bottom: 0;
      display: flex;
      gap: 4px;

      li {
        a {
          height: 64px;
          line-height: 24px;
          color: $gray;
          display: inline-flex;
          align-items: center;
          padding: 0 12px;
          transition: 0.3s;

          @include media-breakpoint-down(sm) {
            height: 50px;
          }

          &:hover {
            color: $black;
            box-shadow: $menu-hover-style;
          }
        }

        &.router-link-active {
          a {
            color: $black;
            box-shadow: $menu-hover-style;
          }
        }
      }
    }
  }
}
