$background: #f4f5f7;
$body-font-family: 'Inter' !default;
$menu-hover-style: inset 0 -3px 0 0 $blue;

// Colors

$white: white;
$blue: #1952e1;
$dark-blue: #2e3e6e;
$gray: #9a9da4;
$gray-light: #f3f3f8;
$black: #1a1a1a;
$black-secondary: #33373c;
